<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.soonami">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- AndroidManifest文檔中有四個標籤與permission有關，
    它們分別是 <permission>、 <permission-group> 、<permission-tree> 和 <uses-permission>。
    其中最常用的是 <uses-permission>。
    <permission>和 <uses-permission>的作用相似，兩者之間的不同之處，
    <uses-permission>是android預定義的權限，<permission>是自己定義的權限。
    <permission-group> 就是聲明一個標籤，該標籤代表了一組permissions，
    而<permission-tree>是為一組permissions聲明瞭一個namespace。-->

</manifest>